<div class="card">
    <div class="card-header">
        {{title}}
    </div>
    <div class="card=body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary">
                                Show Image
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Avaliability</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let product of products">
                        <td> <img [src] = 'product.imageUrl'
                            [title]="product.productName"
                            [style.width.px] ='imageWidth'
                            [style.margin.px] ='imageMargin'>
                        </td>
                        <td>{{product.productId}}</td>
                        <td>{{product.productName}}</td>
                        <td>{{product.productCode}}</td>
                        <td>{{product.releaseDate}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.starRating}}</td> 
                        <td><button type="button" style ="background-color:rgb(230, 94, 162); border-radius: 25%;" (click)="DeleteProduct(product._id)"> Delete</button></td>
                        <td><a routerLink="/edit/{{product._id}}"><i></i><button type="button" style ="background-color:rgb(230, 94, 162); border-radius: 25%;"> Edit</button></a></td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
